
.weren{
    width: 100%;
    height: 100%;
    background-color: #f9f9fb;
}

.bow1{
    width: 32%;
    background-color: #ffffff;
    height: auto;
    border-radius: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin-bottom: 20px;
}
     /* margin-left: 13px;

} */
.content1 a:hover {
    color: #94ce68;
}
.bow1 a{
    text-decoration: none;
    color: black;
    font-weight: 700;
}
.content1 p {
    padding: 0;
    margin-top: 10px;
    font-size: 14px;
}

.title{
    margin-bottom: 40px
}
h3{
    font-size: 22px;
}

/* .bow {
    width: 100%;
    height: 100%;
    border: 1px solid #cdcdcd;
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-bottom: 85px;
    margin-top: 85px;
    padding: 154px 154px 30px 154px;
} */
.header__left1 {
    display: flex;
    /* flex: 0 0 30%; */
    width: 27%;
    flex-wrap: wrap;
    align-content: flex-end;
    align-items: center;
}

.header__center1{
    display: flex;
    flex: 0 0 43%;
    /* width: 46%; */
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.header__right1{
    display: flex;
    flex: 0 0 30%;
    /* max-width: 37%; */
    width: 34%;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.wrap__home {
    background-color: rgb(249, 249, 251);
}

.icon{
    font-size: 25px;
    padding: 10px;
}
.content1{
    padding: 12px 0px 1px 10px;
}
.header__left1 a{
    text-decoration: none;
    color: rgb(85, 192, 85);
}


.wep{
    width: 100%;
    text-align: center;
    margin-top: 200px;
    margin-bottom: 10px;
    line-height: 1px;
}

.wep a{
    color: #999191;
}


i.bi.bi-cart4 {
    color: green;
    /* width: 17px; */
    /* height: 1px; */
    border: 1px solid;
    border-radius: 50%;
    padding: 2px 6px 4px 6px;
}
/* ================================================================================================================================ */
.k{
    float: right;
}
.bo{
    border: 1px solid #cdcdcd;
    margin-top: 85px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 85px;
    padding: 130px 150px 30px 150px;
    background-color: #fff;
    flex-wrap: wrap;
    justify-content: space-around;
}

.h {
    font-size: 17px;
    text-transform: uppercase;
   
}

.ror{
    padding: 10px 0;
}

@media screen and (max-width: 576px){
    .bo{
        border: none;
        padding: 0 10px 0 10px;
    }
    .bow1{
        width: 48%;
    }
    .dew__left{
        font-size: 14px;
    }
    .header__left1{
        flex: 0 0 50%;
    }
    .header__center1{
        flex: 0 0 20%;
    }
    .header__right1{
        flex: 0 0 30%;
    }
    .logo img{
        width: 70px;
    }

    .header__left1 a{
        font-size: 15px;
    }
}

@media screen   and (min-width: 768px) and (max-width: 992px){
    .bo{
        border: none;
        padding: 10px;
    }
    
    .bow1{
        width: 32%;
    }
    

   
}

@media screen and (min-width: 576px) and (max-width: 992px){
    .logo img {
        width: 60px;
        height: auto;
        padding: 5px 5px 5px 0;
    }
    .topnav {
        display: none;
    }
    .topnav2{
        display: block;
    }
    .topnav2 {
        display: flex;
       
        overflow: hidden;
        border-radius: 50px;
        
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
       
        align-items: center;
      }
       
      .topnav2 a, .topnav input[type=text] {
        text-decoration: none;
    color: black;
    font-size: 12px;
}
      .topnav2 a:hover {
        background-color: #ffffff;
        color: black;
      }
       
    
      .topnav2 input[type=text] {
        float: right;
        padding: 6px;
        margin-top: 1%;
        margin-right: 16px;
        border: none;
        font-size: 17px;
        background-color: #ffffff;
        border: none;
      }
      .header__left1 {
        display: flex;
        flex: 0 0 43%;
        width: 27%;
        flex-wrap: wrap;
        align-content: flex-end;
        align-items: center;
    }
      .header__center1 {
        display: flex;
        flex: 0 0 10%;
       }
       .header__center1 a{
        font-size: 13px;
       }
       .gocphai{
        display: none;
       }
       .header__center1 {
        display: flex;
        flex: 0 0 20%;
        /* width: 46%; */
        align-items: center;
        justify-content: flex-start;
        flex-wrap: wrap;
    }
    .header__right1 {
        display: flex;
        flex: 0 0 37%;
        max-width: 40%;
        width: 34%;
        flex-wrap: wrap;
        justify-content: flex-end;
        align-items: center;
    }
    .bo{
        padding: 0;
    }
    .phai{
        width: 47%;
    }

    .btn1 {
        border-radius: 50%;
        width: 35px;
        height: 35px;
        border: none;
        color: rgb(255, 255, 255);
        background-color: #94ce68;
        margin-left: 32px;
    }
    .wep{
        margin-bottom: 20px;
    }
   


}
