@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
p{
    margin-bottom: 0!important;
}
.row.co {
    align-items: center;
}
.logo1 img{
    width: 200px;
    margin-top: 20px;
}
    /* .main-tro1{
        width: 90%;
        margin: 0 auto;
    } */
.help1{
    color: #969696;
    border: 1px solid #969696;
    border-radius: 20px;
    float: right;
    margin-top: 20px;
    padding: 4px 14px 6px 14px;
}
.back1{
    margin-left: 100px;
}
.back1 a{
    text-decoration: underline;
    color: #94CE68;
    padding-bottom: 50px;
}
.next1{
    text-align: right;
    margin-right: 100px;
    padding-bottom: 50px;
}
.next1 button{
    background-color: #94CE68;
    color: #fff;
    padding: 10px 35px;
    border: none;
    border-radius: 10px;
    outline: none;
}
.help1:hover {
    background: #94CE68;
    color: white;
    border: 1px solid #94CE68;
}
.back1 a:hover {
    color: #78A754;
}
.next1 button:hover {
    background: #78A754;
}
.ftex {
    color: #747474;
    /* margin: 20px 0; */
    text-align: center;
    width: 100%;
    height: auto;
}

.row.can {
    align-items: center;    
}

.content {
    width: 70%;
    padding: 120px 0;
}
.content h2 {
    font-size: 60px;
    color: #a1d76a;
}       
.content p {
    font-size: 27px;
    color: #a1d76a;
}

.a {
    padding: 0 0 0 90px;
    font-size: 20px;
}

.a a{
    color: #a1d76a;
}
.a a:hover{
   color: #e70000;
}
.b {
    float: right;
    padding: 0px 85px 0 0;
}
.btnn {
    color: #fff;
    width: 185px;
    height: 65px;
    border-radius: 10px;
    border: none;
    background: #a1d76a;
    font-size: 20px;
}
.btnn:hover{
    background: red;
}

.ftex span {
    font-size: 20px;
}
.check{
    text-align: left;
    padding: 25px 0;
    height: 100px;
    border-bottom: 1px solid #c3c3c3  ;
}
.check span {
    font-size: 18px;
    color: black;
}
.checker{
    justify-content: center;  
    margin: 70px 0;
}
label.form-check-label {
    font-size: 26px;
    padding: 0;
    color: #747474;
}
.check .form-check-input {
    float: right;
    font-size: 30px;
    background-color: #fff !important; 
}
.form-check-input:checked {
    background-color: #000000 !important;
    border-color: #000 !important;
}
@media screen   and (min-width: 1200px){
    .container{
        max-width: 1140px !important;
    }
    .checker{
        margin: 40px 0;
    }
}
@media screen   and (min-width: 768px) and (max-width: 992px){
    .content h2 {
        font-size: 30px;
        
    }
    .content p {
        font-size: 20px;
        
    }
    .content{
        padding: 10px;
    }
    .left{
        padding: 0 10px;
    }
    .btnn{
        width: 100px;
        height: 30px;
    }
    .a {
        padding: 40px 0 0 14px;
        
    }
    .b{
        padding: 34px 0 0 0;
    }
    .checker{
        margin: 20px 0;
    }

}


@media screen  and (max-width: 576px){
    .back1{
        margin-left: 10px;
    }
    .next1{
        margin-right: 10px;
    }
    .next1 button{
        padding: 10px 25px;
    }
    .logo {
        width: 200px;

    }
    .left{
        padding: 0;
    }
   
    .a{
        padding: 0;
    }
    .can{
        align-items: center;
    }
    .b {
        text-align: right;
        padding: 0;
     
    }
    .btnn {
        
        width: 115px;
        height: 45px;
        
        font-size: 18px;
    }
    label.form-check-label {
        /* font-size: 26px; */
        padding: 0px 0 0 8px;
        /* color: #747474; */
    }

}

@media screen  and (max-width: 400px    ){
    .logo {
        padding: 10px 0;
        width: 130px;
    }

    label.form-check-label {
        /* font-size: 26px; */
        padding: 0px 0 0 8px;
        /* color: #747474; */
    }
    .btn4 {
        padding: 20px 0px;
       
    }
    button.we {
       
        width: 80px;
        height: 28px;
      
    }
   
    .btnn {
      
        width: 95px;
        height: 40px;
        
        font-size: 19px;
    }

}

.buttons_added {
    display: inline-flex;
    float: right;
    padding: 10px 0;
}
.is-form {
    padding: 0;
    text-shadow: 1px 1px 1px #fff;
    border: 1px solid #ddd;
    background: white;
}
.is-form:focus,.input-text:focus {
    outline:none;
}
.is-form.minus {
    border-radius: 50%;
    width: 30px;
    /* height: 30px; */
    /* margin: auto; */
    padding-bottom: 3px;
}
.is-form.plus {
    border-radius: 50%;
    width: 30px;
    /* height: 30px; */
    /* margin: auto; */
    padding-bottom: 3px;
}
.input-qty {
    text-align:center;
    width: 35px;
    border: none;
}
.input-qty:focus {
    outline: none;
}
.input-qty::-webkit-outer-spin-button,.input-qty::-webkit-inner-spin-button {
    -webkit-appearance:none;
    margin:0;
}
input.loaihinh {
    transform: rotate(180deg);
    border: 1px solid #dddd;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    float: right;
    background: white;
    padding: 3px 0;
}